<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="shapes.Properties.Settings.examdbConnectionString"
            connectionString="data source=&quot;C:\Documents and Settings\GL\Desktop\examdb.gdb&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>